.button {
    height: 40px;
    padding: 5px 20px;
    color: white;

    border: none;
    border-radius: 5px;
    transition: background-color 0.1s ease;
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: bold;

    &:hover {
        cursor: pointer;
    }

    &:active {
        cursor: pointer;
        transition: none;
    }

    &:disabled {
        cursor: default;
    }
}
