@import '../../../utils/variables.scss';

.container {
    width: 100%;
    height: 65px;
    background-color: $dark-2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;

    .title {
        display: flex;
        align-items: center;

        img {
            height: 40px;
            margin-right: 15px;
        }

        h1 {
            font-weight: lighter;
            display: none;
            color: $off-white;
            padding-bottom: 7px;

            @media #{$media-tablet} {
                display: inline-block;
            }
        }
    }

    .right {
        p {
            display: inline;
        }
        .username {
            margin-right: 20px;
        }
    }
}
