.ContentCenter {
    margin: auto;
    border: 2px solid #19212c;
    background-color: #141a24;
    padding: 30px;
    border-radius: 10px;
    width: 450px;
    text-align: center;

    .header {
        font-size: 2rem;
        margin-bottom: 40px;

        h2 {
            font-size: 2rem;
            font-weight: lighter;
        }

        img {
            height: 50px;
            margin-bottom: 10px;
        }
    }
}
