@import '../../utils/variables.scss';

.ContentCenter {
    margin: auto;
    border: 2px solid $dark-3;
    background-color: $dark-2;
    padding: 30px;
    border-radius: 10px;
    width: 450px;
    text-align: center;
    transition: height 0.2s ease;

    .header {
        font-size: 2rem;
        margin-bottom: 40px;

        h2 {
            font-size: 2rem;
            font-weight: lighter;
        }

        img {
            height: 50px;
            margin-bottom: 10px;
        }
    }
}
