// Main background colours
$dark-1: #0d1117;
$dark-2: #141a24;
$dark-3: #19212c;

// Border colours
$highlight: #879db8;

// Font colours
$text-main: white;
$link: #20b9ff;
$error: red;
$off-white: #d8e4f7;

// Button colours
$submit-green: #247924;
